/*
 * 작성자: 라대성
 * 작성일: 190211
 * 기능: 모든 화면을 구성하는 navBar, header, content, footer 에 대한 기본 스타일 모음
 */

@charset "UTF-8";

.my-nav {
	
}
#navLogo {
	width: 50px;
	height: 44px;
}
.dropdown-menu {
	text-align: right;
	padding-right: 10px;
}
.my-footer {
	
}

.my-con {
	position: relative;
	margin: 40px auto;
	padding-top: 20px;
	/* border: 1px solid black; */
}