<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">

	<!-- select list -->
	<select id="boardListDate" parameterType="int" resultType="com.daesungra.domain.BoardVo">
		SELECT * FROM (
			SELECT ROWNUM rno, s.* FROM (
				SELECT bd.serial serial, bd.bookNo bookNo, bd.title title, bd.content content, bd.category category, bd.userId userId, to_char(bd.bDate, 'YYYY.MM.DD') bDate, bd.hit hit,
						bk.title_kor title_kor, bk.title_eng title_eng, bk.author author, bk.coverImg coverImg, bk.pDate pDate
					FROM DBOARD bd join DBOOK bk
					ON bd.bookNo = bk.bookNo
					WHERE bd.category = #{category} and bd.isDelete = 0
					ORDER BY bd.bDate desc, bd.hit desc
			) s
		) WHERE rno BETWEEN 1 and 20
	</select>
	<select id="boardListHit" parameterType="int" resultType="com.daesungra.domain.BoardVo">
		SELECT * FROM (
			SELECT ROWNUM rno, s.* FROM (
				SELECT bd.serial serial, bd.bookNo bookNo, bd.title title, bd.content content, bd.category category, bd.userId userId, to_char(bd.bDate, 'YYYY.MM.DD') bDate, bd.hit hit,
						bk.title_kor title_kor, bk.title_eng title_eng, bk.author author, bk.coverImg coverImg, bk.pDate pDate
					FROM DBOARD bd join DBOOK bk
					ON bd.bookNo = bk.bookNo
					WHERE bd.category = #{category} and bd.isDelete = 0
					ORDER BY bd.hit desc, bd.bDate desc
			) s
		) WHERE rno BETWEEN 1 and 20
	</select>
	<select id="selectBookInfo" parameterType="String" resultType="com.daesungra.domain.BookVo">
		SELECT bookNo, title_kor, title_eng, introduce, author, category, publisher, country, coverImg, pDate, isPermitted
			FROM DBOOK
			WHERE bookNo = #{bookNo}
	</select>
</mapper>