<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="email">
	<!-- find id -->
	<select id='findId' parameterType='com.daesungra.domain.MemberVo' resultType='java.lang.String'>
		SELECT userId
			FROM DMEMBER
			WHERE userName = #{userName} AND email = #{email}
	</select>
</mapper>