<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
	<!--
		login
	-->
	<select id="selectMemberLogin" parameterType="com.daesungra.domain.MemberVo" resultType="com.daesungra.domain.MemberVo">
		SELECT userId, userName from DMEMBER WHERE userId = #{userId} and userPwd = #{userPwd} and isDelete = 0
	</select>
	<select id="selectSalt" parameterType="String" resultType="String">
		SELECT saltData from DMEMBER_SALT WHERE userId = #{userId}
	</select>
	
	<!--
		join
	-->
	<select id="idCheck" parameterType="String" resultType="String">
		SELECT userId FROM DMEMBER WHERE userId = #{userId}
	</select>
	<insert id="memberInsert" parameterType="com.daesungra.domain.MemberVo">
		INSERT INTO DMEMBER (userId, userPwd, userName, email, phone, postal, address, addressAdd, photo, photoOri, mDate, isDelete)
			VALUES (#{userId}, #{userPwd}, #{userName}, #{email}, #{phone}, #{postal}, #{address}, #{addressAdd}, #{photo}, #{photoOri}, SYSDATE, 0)
	</insert>
	<insert id="profileInsert" parameterType="String">
		INSERT INTO DMEMBER_PROFILE (userId, introduce, interest, isPublic, nickName)
			VALUES (#{userId}, '', '', 0, '')
	</insert>
	<insert id="saltInsert" parameterType="com.daesungra.domain.MemberSaltVo">
		INSERT INTO DMEMBER_SALT VALUES (#{userId}, #{saltData})
	</insert>
	
	<!--
		member view (info, profile)
	-->
	<select id="selectMemberView" parameterType="String" resultType="com.daesungra.domain.MemberVo">
		SELECT m.userId userId, m.userName userName, m.email email, m.phone phone, m.postal postal, m.address address, m.addressAdd addressAdd, m.photo photo, m.photoOri photoOri,
				to_char(m.mDate, 'YYMMDD<!--  HH24:MI:SS -->') mDate, p.nickName nickName, p.introduce introduce, p.interest interest, p.isPublic isPublic, (select count(*) from DMEMBER_FOLLOWER where followee = #{userId}) fNum
			FROM DMEMBER m JOIN DMEMBER_PROFILE p
				ON m.userId = p.userId
			WHERE m.userId = #{userId} and m.isDelete = 0
	</select>
	<select id="selectFollowees" parameterType="String" resultType="java.util.ArrayList">
		SELECT followee FROM DMEMBER_FOLLOWER WHERE userId = #{userId}
	</select>
	<select id="selectExistingMemberList">
		SELECT userId, userName, email, phone, postal, address, addressAdd, photo, photoOri, to_char(mDate, 'YY-MM-DD HH24:MI:SS') mDate
			FROM DMEMBER
			WHERE isDelete = 0
	</select>
	
	<!--
		update
	-->
	<select id="getPhoto" parameterType="String" resultType="String">
		SELECT photo FROM DMEMBER WHERE userId = #{_parameter}
	</select>
	<update id="memberUpdate" parameterType="com.daesungra.domain.MemberVo">
		UPDATE DMEMBER SET userName = #{userName}, email = #{email}, phone = #{phone}, postal = #{postal}, address = #{address}, addressAdd = #{addressAdd},
			photo = #{photo}, photoOri = #{photoOri}
			WHERE userId = #{userId} and userPwd = #{userPwd} and isDelete = 0
	</update>
	
	<!--
		delete
	-->
	<update id="memberDelete" parameterType="com.daesungra.domain.MemberVo">
		UPDATE DMEMBER SET isDelete = 1 WHERE userId = #{userId} and userPwd = #{userPwd}
	</update>
	<delete id="memberDeleteConfirm" parameterType="com.daesungra.domain.MemberVo">
		DELETE FROM DMEMBER WHERE userId = #{userId} and userPwd = #{userPwd}
	</delete>
</mapper>