<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>header page</title>
</head>
<body>

	<div class='container-fluid' id='header'>	
		<div class='container'>
			<div class='jumbotron my-jumbo'>
				<br/>
				<h1>환영합니다!</h1><br/>
				
				<p>라대성의 포트폴리오 사이트입니다.<br/>컨셉은 나만의 책 리뷰를 작성하고 다른 사람들과 서로 공유하는 것입니다.<br/>디자인은 부트스트랩으로 하였고, spring mvc 로 서버환경을 구축했습니다. 데이터베이스는 oracle 11g xe 입니다.</p>
				<p>  The time on the server is ${serverTime}. </p><br/>
				<a class='btn btn-secondary' href='board/list'>리뷰 보기</a>
			</div>
		</div>
	</div>

</body>
</html>